body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'DanaYad';
  src: url('../public/fonts/DanaYadAlefAlefAlef-Normal.eot');
   src:    url('../public/fonts/DanaYadAlefAlefAlef-Normal.woff') format('woff'),
       url('../public/fonts/DanaYadAlefAlefAlef-Normal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.danaYad-text {
  font-family: 'DanaYad', cursive;
}

